@font-face {
    font-family: 'IBM Plex Serif';
    src: url(https://pictures.s3.yandex.net/fonts/Ibmplexserif.woff2) format('woff2');
    src: url(https://pictures.s3.yandex.net/fonts/Ibmplexserif.woff) format('woff');
    src: url(https://pictures.s3.yandex.net/fonts/Ibmplexserif.ttf) format('ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(https://pictures.s3.yandex.net/fonts/ubuntu.woff2) format('woff2');
    src: url(https://pictures.s3.yandex.net/fonts/ubuntu.woff) format('woff');
    src: url(https://pictures.s3.yandex.net/fonts/ubuntu.ttf) format('ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Istok Web';
    src: url(https://pictures.s3.yandex.net/fonts/istokregular.woff2) format('woff2');
    src: url(https://pictures.s3.yandex.net/fonts/istokregular.woff) format('woff');
    src: url(https://pictures.s3.yandex.net/fonts/istokregular.ttf) format('ttf');
    font-weight: normal;
}


@font-face {
    font-family: 'IBM Plex Serif';
    src: url(https://pictures.s3.yandex.net/fonts/Ibmplexserif.woff2) format('woff2');
    src: url(https://pictures.s3.yandex.net/fonts/Ibmplexserifsemibold.woff) format('woff');
    src: url(https://pictures.s3.yandex.net/fonts/Ibmplexserifsemibold.ttf) format('ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(https://pictures.s3.yandex.net/fonts/ubuntu.woff2) format('woff2');
    src: url(https://pictures.s3.yandex.net/fonts/ubuntubold.woff) format('woff');
    src: url(https://pictures.s3.yandex.net/fonts/ubuntubold.ttf) format('ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Istok Web';
    src: url(https://pictures.s3.yandex.net/fonts/istokregular.woff2) format('woff2');
    src: url(https://pictures.s3.yandex.net/fonts/istokbold.woff;) format('woff');
    src: url(https://pictures.s3.yandex.net/fonts/istokbold.ttf) format('ttf');
    font-weight: bold;
}